*{
  padding: 0;
  margin: 0;
  background-color: #677883;
}

body{
  padding: 10px;
}

h1{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li{
  list-style:none;
}
.main-status{
  height: 10vh;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-around;
  
}

.display-container{
  height: 40vh;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.select-hand{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #831512 ;
}

.display{
  height: 85%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:space-around;
}

.log{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hand-container{
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
}

.phand{
  height: 100%;
}


/* Hand Section*/

.hand-selector{
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hand{
  height: 100%;
}

.img-hand{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img{
  height: 100%;
  box-shadow: 10px 10px 5,5px 4px #560758
}

.img:hover{
  border-radius: 100px;
  box-shadow: 15px 15px 7px 5px rgba(0,0,0,0.75);
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.duel{
  height: 40px;
  width: 200px;
  margin-top: 20px;
  border-radius: 45px;
  background-color:#dcbcb6;
}